@import "../../styles/variables.scss";

.cart-product {
  display: flex;
  align-items: center;
  color: #636363;
  width: 600px;
  border: 2px solid #ececec;
  margin-top: 30px;
  padding: 5px;

  @media (max-width: $breack-point-phone) {
    display: block;
    width: 100%;
    border: 1px solid #ececec;
    margin-top: 0;
  }

  &__price {
    display: block;
    font-size: 24px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 2px solid #dadada;
    padding-left: 20px;
    min-width: 202px;
  }

  &__amount {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    width: 250px;
    margin-right: 5px;

    @media (max-width: $breack-point-phone) {
      width: 100%;
    }
  }
}
